@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 10%; /* #1A1A1A */
    --foreground: 210 17% 95%; /* #EDF2F4 */

    --card: 0 0% 17%; /* #2B2B2B */
    --card-foreground: 210 17% 95%; /* #EDF2F4 */

    --popover: 0 0% 10%;
    --popover-foreground: 210 17% 95%;

    --primary: 43 100% 51%; /* #FFB703 */
    --primary-foreground: 0 0% 10%; /* #1A1A1A */

    --secondary: 0 0% 24%; /* #3C3C3C */
    --secondary-foreground: 210 17% 95%;

    --muted: 216 13% 61%; /* #8D99AE */
    --muted-foreground: 0 0% 10%;

    --accent: 0 0% 24%; /* #3C3C3C */
    --accent-foreground: 210 17% 95%;

    --destructive: 356 79% 56%; /* #E63946 */
    --destructive-foreground: 210 17% 95%;

    --border: 0 0% 24%; /* #3C3C3C */
    --input: 0 0% 24%;
    --ring: 43 100% 51%; /* #FFB703 */

    --radius: 0.25rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  html {
    @apply scroll-smooth;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  .sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
  }
}
